<div class="container">
  <div class="row justify-content-end">
    <div class="h5 my-3 text-center theme col-3">コメント一覧</div>
    <div class="col-lg-8 text-right">

    <table class="table table-bordered">
      <thead  class="text-center">
        <tr>
          <th class="col-1 theme">名前</th>
          <th class="col-1 theme">日付</th>
          <th class="col-1 theme">タイトル</th>
          <th class="col-1 theme">コメント</th>
          <th class="col-1 theme">　</th>

        </tr>
      </thead>


        <tbody>
        <% @item.comments.each do |comment| %>
        <% comment_customer = comment.customer %>
        <tr>
        	<td>
            <%= comment.customer.name %>
          </td>
          <td>
            <%= comment.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td>
            <%= comment.title %>
          </td>
        	<td><%= comment.comment %></td>
        	<% if current_customer == comment_customer %>
          	<td><%= link_to 'Destroy', comment_path(comment.id), class: 'btn-sm btn-danger', method: :delete %></td>
        	<% end %>
        </tr>
      </tbody>
      <% end %>
    </table>
     <%= link_to "コメント投稿", new_comment_path(item_id: @item.id), class:"btn btn-sm btn-primary" %>
     </div>
   </div>
 </div>