<div class="container">

  <div class="row">
    <div class="my-3 h5 text-center theme "><%= @customer.name %>さんの会員情報編集</div>
  </div>

  <div class="row">
    <div class="col-7 mt-3">
      <%= form_with model:@customer,url: admin_customer_path(@customer), local:true do |f| %>
        <table class="table table-borderless">
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td><%= f.radio_button :is_deleted, "false" %>有効</td>
            <td><%= f.radio_button :is_deleted, "true" %>退会</td>
          </tr>
        </table>
        <%= f.submit "変更を保存", class:"btn btn-sm btn-success offset-md-3" %>
      <% end %>
    </div>

  </div>
</div>