<div class="container">
  <%#= render "customer/shared/error_messages", resource: @order %>
  <p>注文情報入力</p>
  <%= form_with model: @order, url: { action: :confirm }, local: true do |f| %>
    <div class="row">
      <p>支払方法</p>
    </div>
    <div class="ml-4">
      <%= f.radio_button :payment_way, 'credit_card' %>
      <%= f.label :payment_way, :クレジットカード %>
    </div>
    <div class="ml-4">
      <%= f.radio_button :payment_way, 'transfer' %>
      <%= f.label :payment_way, :銀行振込 %>
    </div>

    <div class="row">
      <p>お届け先</p>
    </div>

    <div class="ml-4">
      <%= f.radio_button :address_number, 1 %>
      <%= f.label :address_number_1, "お届け先住所" %><div class="w-100"></div>
      <p class="ml-3 mb-0">〒<%= current_customer.postal_code %> <%= current_customer.address %></p><div class="w-100"></div>
      <p class="ml-3"><%= current_customer.name %></p>


    <div class="row justify-content-center">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary mt-5" %>
    </div>
  <% end %>
</div>

