<div class="container mt-5">
  <div class="row">

    <!-- 商品画像 -->
    <div class="col-md-4 text-center">
        <%= attachment_image_tag @item, :image, :fill, 200, 200, fallback:"no_image.jpg" %>
    </div>


    <!-- 商品説明・個数 -->
    <div class="col-md-5">
      <h2><%= @item.item_name %></h2><br>
      <p><%= @item.explanation %></p>
      <div>
        <h3>￥<%=(@item.price*1.1) %><font size="3">（税込）</font></h3>
      </div>

        <!-- 個数選択・決定ボタン（非ログイン時は隠れます）-->
      <% if @item.is_active == false %>
            <p class="text-danger">売り切れ</p>
      <% else %>
        <% if customer_signed_in? %>
        <%= form_with model: @cart,local:true do |f| %>
            <%= f.select :quantity, [*(1..10)], {include_blank: '個数選択'} %>
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit "カートに入れる", class:"ml-5 mt-4 btn btn-success" %>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>